@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font: Roboto, sans-serif;
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.official-cases-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: #dcdce6;
}

.official-cases-container h1 {
    margin-top: 50px;
    text-align: center;
}

.search-container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    background-color: #f0f0f0f5;
    border-bottom: 1px solid gray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.state-select {
    padding-right: 20px;
}

.city-select {
    padding-left: 20px;
}

.search-results-container {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
    margin-bottom: 60px;
    min-height: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    list-style: none;
    align-content: center;
    align-items: center;
    justify-items: center;
    background-color: #f0f0f0f5;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.result-cases {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    align-items: center;
    align-self: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
}

.result-cases p {
    font-size: 15px;
    text-align: center;
}

.result-cases p1 {
    margin-top: 30px;
    font-size: 24px;
    font-weight: 'regular';
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
    .search-container {
        width: 80%;
        display: flex;
        flex-direction: column;
    }
    .search-results-container {
        width: 80%;
        grid-gap: 20px;
    }
    .result-cases {
        min-height: 140px;
    }
    .official-cases-container h1 {
        margin-top: 30px;
        text-align: center;
        padding: 20px;
        font-size: 26px;
    }
}

@media only screen and (max-width: 413px) {
    .search-results-container {
        width: 100%;
    }
    .search-container {
        width: 100%;
    }
    .official-cases-container h1 {
        font-size: 20px;
    }
}